<h1> Add your brick to the market </h1>

<%# render the brick create/edit partial form to allow user to add a new brick %>
<%= render "form"  %>

<%= link_to "Cancel", bricks_path, class: "btn border" %>
