<h1>My open chats</h1>
<% @chatrooms.each do |chatroom| %>
  <%= link_to brick_chatroom_path(chatroom.brick, chatroom) do %>
    <% if chatroom.brick.user == current_user %>
      <p>Chat:<%= chatroom.buyer.username %></p>
    <% else %>
      <p>Chat: <%= chatroom.seller.username %></p>
    <% end %>
  <% end %>
<% end %>
<% @chatrooms.each do |chatroom| %>
  <%= link_to "Close chat", brick_chatroom_path(chatroom.brick, chatroom), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn border" %>
<% end %>
